@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}
.pagina-servicos {
    background-image: url("/img/cardsHome/bg_wpp.jpg");
    padding: 80px 0 0 0;
    background-color: rgb(39, 39, 39);
    min-height: 100dvh;
    margin: 0;
}
.cardBarber{
    background: rgb(40, 40, 40);
    background: linear-gradient(75deg, rgb(59, 59, 59) 0%, rgb(14, 14, 14) 100%);
    color: #f5f5f7;
    border: 3px solid rgb(29, 29, 29);
    background-image: url("/img/cardsHome/bg_cards.jpg");
    background-size: cover;
    
}


.cardBarber:hover, .cardBarber:focus, .cardBarber:active {
    transition: all 0.2s;
    border: 3px solid rgb(211, 211, 211);
}



.slider-container {
    background-image: url("/img/sliderHome/bg_slider.jpg");
    background-size: contain;
    padding: 30px!important;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    background-color: rgb(28, 28, 30, 0.6);
    animation: moveBackground 15s alternate-reverse infinite;
}
@media (max-width: 700px) {
    .slider-container {
        animation: moveBackground 2s alternate-reverse infinite;
    }
}
.img-slider-barber {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}
.img-slider-barber:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 3px rgba(255, 0, 0, 0.753)); 
}
.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.carousel-caption {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    width: max-content;
}

/* Dark theme colors */
.dark-theme {
    background-color: #1c1c1e;
    /* Dark background similar to Apple's dark mode */
    color: #f5f5f7;
    /* Light text color */
}

.carousel-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #f5f5f7;
}

.dark-theme .carousel-caption h3,
.dark-theme .carousel-caption p,
.dark-theme .carousel-caption .price {
    color: #f5f5f7;
}

/* Centralize the arrows vertically */
.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Estilos personalizados para o carrossel */
.slider-container {
    padding: 20px;
}

.carousel-item-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item-container .row {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .carousel-item-container .col-md-4 {
    padding: 0 10px;
  }
  
  .img-slider-barber {
    max-width: 100%;
    height: auto;
  }
  
  .empty-slot {
    height: 100%; /* Ajuste a altura conforme necessário */
    background-color: transparent; /* Ou qualquer cor de fundo desejada */
  }
.img-slider-barber {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
@media (max-width: 700px) {
    .img-slider-barber {
        width: 120%;
        max-width: none;
        margin-left: -17%;
        
        /* Outros estilos que desejar aplicar */
    }
}
.slick-dots {
    margin-bottom: 20px;
    margin-left: -2%;

    li button::before,
    li button::before {
        transition: all 1s;
        background-color: black;
        opacity: 1 !important;
        border: 2px solid #da0d0d;
        border-radius: 50%;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 25px;

    }

    li.slick-active button::before {
        opacity: 1 !important;
        background-color: #fff;
    }
}
.slick-slide{
    height: max-content!important;
}

.slick-arrow::before{
    //mudar font-size se for alterar tamanho da seta
}
.carousel-caption h3,
.carousel-caption p {
    margin: 0;
}

.price strong {
    color: #da0d0d; 
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom-style: none;
}
a {
    text-decoration: none;
  }
/* Estilos responsivos */
.title-services {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: white;
    letter-spacing: 1px;
}
