
:root {
font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color: black;
min-height: 100dvh;
color: white!important;
}
h2{
    color: white;
}
