.pageStore {
    padding: 95px 5px 0 5px;
    margin: 0!important;
    min-height: 100dvh;
    color: white;
    text-align: center;
    background-image: url('/img/store/bg_store.jpg');
    background-size: contain;
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
        -webkit-box-shadow: inset -1px -1px 214px -109px rgba(0,0,0,0.75);
-moz-box-shadow: inset -1px -1px 214px -109px rgba(0,0,0,0.75);
box-shadow: inset -1px -1px 214px -109px rgba(0,0,0,0.75);
      }
      
      .image-container {
        position: relative;
        width: 100%;
        height: 200px; /* Defina uma altura fixa para as imagens */
        overflow: hidden;
      }
      
      .carousel-image, .front-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.3s ease-in-out;
        color: #141414;
      }
      
      .front-image {
        opacity: 0;
      }
      
      .image-container:hover .carousel-image {
        opacity: 0;
      }
      
      .image-container:hover .front-image {
        opacity: 1;
      }
      
      .card-body {
        flex: 1; /* Faz com que o card-body ocupe o espaço restante */
      }
      
      .card-footer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .modal-image-container {
        position: relative;
      }
      
      .modal-navigation {
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
      
      .modal-navigation .btn {
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 0 10px;
      }
      
      .modal-navigation .btn:hover {
        background-color: rgba(255, 255, 255, 0.9);
      }
      
}